@import "tailwindcss";

@theme {
	--color-mainAccent: #683527;
	--animate-marquee: marquee 10s linear infinite;

	@keyframes marquee {
		0% {
			transform: translateX(0%);
		}
		100% {
			transform: translateX(-100%);
		}
	}
}

::-webkit-scrollbar {
	display: none;
}

html,
body {
	overscroll-behavior: none;
}

body {
	background-color: #edf4ed;
}

.scroll-container {
	touch-action: pan-y;
}

a.disabled {
	pointer-events: none;
	cursor: default;
}
